
# ignore all files without extension:
  # Ignore all
  # Unignore all with extensions
  # Unignore all dirs
*
!*.*
!*/

# latex
*.aux
*.log
*.bbl
*.blg
*.out
*Notes.bib

# mathematica
*.nb
*.m

# python
*.pyc
.ipynb_checkpoints/
*.ipynb

# general
*.pdf
*.png
*.dat

# locals
old_code/
old_output/
# keep computation output files (anything with double
# extensions, the second of which is .out)
!*.*.out
